streamlit==1.40.0
pandas==2.2.3
numpy==1.26.4
plotly==5.24.1
reportlab==4.2.5
pytesseract==0.3.13
pdfplumber==0.11.4
PyPDF2==3.0.1
pdf2image==1.17.0
pillow==11.0.0
opencv-python-headless==4.10.0.84
scikit-learn==1.5.2
openpyxl==3.1.5
matplotlib==3.9.2
